@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;800&family=Rubik:wght@500&family=Work+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url("/grid.png"); */
  background-size: 150%;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: "Heebo", sans-serif;
  background-position: -0px -17px;
  background-color: #154d56;
}

.text-dark {
  color: #cccccc;
}

.text-light {
  color: #0f172a;
}

.text-light,
.text-dark {
  transition: color 0.5s ease-in-out;
}

.bg-light {
  background-color: #cccccc;
}

.bg-dark {
  background-color: #154d56;
}

.nav-bar-light {
  background-color: rgba(30, 32, 33, 0.306);
}

.nav-bar-dark {
  background-color: rgba(133, 138, 143, 0.284);
}

.bg-dark,
.bg-light,
.nav-bar-light,
.nav-bar-dark {
  transition: background-color 0.5s ease-in-out;
}

@font-face {
  font-family: "Acorn";
  src: url("assets/fonts/Acorn-Medium.ttf") format("woff2");
}

.body-text-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.header-font {
  font-family: "Acorn", sans-serif;
  letter-spacing: 0.1em; /* Adjust as needed */
}

.toolkit-content {
  font-size: 15px;
}

@media (max-width: 768px) {
  .toolkit-content {
    font-size: 13px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .repo-btn,
  .resume-btn {
    display: none;
  }

  .toggle-buttons {
    visibility: hidden;
  }

  .gradient-design {
    display: none;
  }
}

.experience-container {
  display: grid;

  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.6fr;

  gap: 5px;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  transition: grid-template-rows 0.5s ease-in-out;
}

.item-1,
.item-2,
.item-3,
.item-4 {
  padding: 14px;
}
.item-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.item-2 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}

.item-3 {
  grid-row: 3 / span 1;
  grid-column: 1 / 4;
}

.item-4 {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}

.item-5 {
  grid-row: 1 / 5;
  grid-column: 4 / 11;
  margin-left: 2px;
  transition: opacity 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .experience-container {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: unset;
  }

  .item-5 {
    display: none;
  }
}
