@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;800&family=Rubik:wght@500&family=Work+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/dotg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(49, 49, 49);
}
