@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;800&family=Rubik:wght@500&family=Work+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url("/grid.png");
  background-size: 150%; */
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: rgb(49, 49, 49);
  font-family: "Heebo", sans-serif;
  background-position: -0px -17px;
}

.toolkit-content {
  font-size: 15px;
}

@media (max-width: 768px) {
  .toolkit-content {
    font-size: 13px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

.card {
  max-width: 200px;
}
